@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(231,196,116);
    background: linear-gradient(90deg, rgba(231,196,116,1) 0%, rgba(183,120,222,1) 100%);
}

span {
    padding: 6px;
}

.contenedor {
    max-width: 300px;
    max-height: 520px;
    margin: 0 auto;
    border: 1px solid #c1c9c6;
    -webkit-box-shadow: 0 0 4px 4px slateblue;
    -moz-box-shadow: 0 0 4px 4px black;
        box-shadow: 0 0 4px 4px slateblue;
    background: white;
    margin-top: 30px;
}

h2 {
    color:slateblue;
}

.box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.img {
    margin-top: 10px;
    max-width: 100px;
}

#email {
    margin-top: 13px;
    padding: 10px;
    display: flex;
}

#pswrd {
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
}

#bx {
    margin-left: 3rem;
    margin-right: 3rem;
}

.cbox {
    margin-bottom: 25px;
    font-size: 10px;
}

.input {
    border: 2px solid #c1c9c6;
    font-size: 14px;
}

button {
    padding: 15px 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: slateblue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

button:active {
    background: white;
    color: slateblue;
    border: slateblue solid 1px;
}

a {
    text-decoration: none;
    padding: 2px 5px;
    border: 2px solid #c1c9c6;
    border-radius: 20px;
    color: #9a9c9b;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
}

@media (max-width: 500px) {
    .box2 {
        margin-left: 50%;
        margin-right: 50%;
        
    }
    #email {
        margin-top: 13px;
        padding: 5px;
        display: flex;
    }
    
    #pswrd {
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
    }
}